body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-size: 82%;
    box-shadow: inset 2px 2px 60px rgb(238, 236, 236),
    inset 2px 2px 60px rgb(238, 236, 236);
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    z-index: 0;
}
header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 12vh;
    z-index: 1;
}
.accueil {
    margin-top: 5vh;
    height: 90vh;
}
div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
}
form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    width: 30em;
    height: 90%;
}
input, textarea, button {
    height: 2.2em;
    width: 100%;
    margin: 2%;
    padding: 5%;
    border: 1px solid rgb(41, 41, 41);
    border-radius: 20px;
    box-shadow: 1px 1px 66px 1px hsl(0, 0%, 83%),
    -1px -1px 66px 1px hsl(0, 0%, 82%);
}
input[type="submit"] {
    line-height: 0.5em;
    height: 2em;
}
textarea {
    height: 20vh; 
    border-radius: 20px 20px 0 20px;
}
main {
    display: flex;
    flex-flow: row wrap;
    align-items: space-around;
    justify-content: space-around;
    width: 100vw;
    height: auto;
    z-index: 0;
}
a {
    color: black;
    text-decoration: none;
    background: transparent;
}
.img {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: auto;
    background-size: contain;
}
.lien {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: rgb(238, 238, 238);
    box-shadow: 2px 2px 8px black;
    margin: 0 20px 0 20px;
    color: rgb(245, 242, 242);
    text-shadow: 2px 2px 10px rgb(10, 10, 10),
    -2px -2px 10px rgb(10, 10, 10);
    text-align: center;
    transition: .2s ease; 
    width: 40vw;
    height: 20vh;
    z-index: 2;
}
.lien:first-child {
    background: url(chantier_rose/SCAN0021.JPG);
    background-position: center;
}
.lien:nth-child(2) {
    background: url(CREDIT_ADRIEN_FERRON_operation_genara/IMG_1587.JPG);
    background-size: 800px;
    background-position: center;
}
.lien:nth-child(3) {
    background: url(CREDIT_ADRIEN_FERRON_rose_of_argyll_transmanche/adrien_ferron_photographie-019.jpg);
    background-position: top;
    filter: brightness(1.2);
}
.lien:nth-child(4) {
    background: url(Durant_une_des_Transmanches_2010/SCAN00717.jpg);
    background-position: center;
}
.lien:nth-child(5) {
    background: url(grutage_rose/SCAN0030.JPG);
    background-position: center;
}
.lien:nth-child(6) {
    background: url(la_rose_vogue/SCAN00418.jpg);
    background-position: bottom;
}
.lien:hover {
    width: 39.9vw;
    filter: contrast(1.2) saturate(1.2);
    color: rgb(255, 255, 255);
    font-style: normal;
    animation: 5s ease-in-out mouv backwards;
}
.lien:active {
    background-color: rgb(41, 41, 41);
    box-shadow: inset 2px 2px 8px rgb(23, 23, 23);
    color: white;
    text-shadow: 1px 1px 2px rgb(19, 19, 19);
}
@keyframes mouv {
    from {
        background-position: bottom;
    }
    to {
        background-position: top;
    }
}
.photo {
    object-fit: contain;
    max-width: 100%;
    width: auto;
    margin: 2%;
    height: auto;
    transition: 1s ease;
    background: transparent;
    box-shadow: -1px -1px 84px 9px rgba(0,0,0,0.69);
    -webkit-box-shadow: -1px -1px 84px 9px rgba(0,0,0,0.69);
    -moz-box-shadow: -1px -1px 84px 9px rgba(0,0,0,0.69);
}
.photo:hover {
    transform: scale(.9);
    box-shadow: -1px -1px 44px 4px rgba(0,0,0,0.89);
    -webkit-box-shadow: -1px -1px 44px 4px rgba(0,0,0,0.89);
    -moz-box-shadow: -1px -1px 44px 4px rgba(0,0,0,0.89);
}
footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 8vh;
}
@media screen and (max-width: 850px) {
    header {
        height: 15vh;
    }
    h1, h2 {
        font-size: 1em;
        text-align: center;
    }
    h1 {
        width: 70%;
    }
section, section:hover, section:active {
    width: 90vw;
}
}